*{
    margin: 0;
    padding:0;
}

.header
{
    
    background-color:#f2ffcc;
   display:block;
    margin: 10px;
    border: 10px;
    padding: 20px;
    border-radius: 122px;
    

}
.header img
{
    display:block;
    width: 601px;
    height: 363px;
    border-radius: 109px;

}
.nav
{
    text-align: left;
}