*{
    margin: 0;
    padding:0;
}

.header
{
    
    background-color:#f5f8ed;
   display:flex;
    margin: 0px;
    border: 0px;
    padding: 0px;
    border-radius: 122px;
    
    height:165px;
    

}

.signature
{
    display:block;
    width: 439px;
    height: 253px;
    border-radius: 5000px;

}

.title
{
    display:flex;
    height:102px;
    flex-wrap: nowrap;
    
    flex-direction: row;
    align-items:flex-end;
    
    
    height:102px;
}

.nav
{

    display:flex;
    height:62px;
    flex-wrap: nowrap;
justify-content: center;
    align-items: center;
    
}

#link
{
    display:flex;
    flex-wrap: wrap;
    width:86px;

}



.backround
{
    height: 100px;
    width: 100px;
    margin-bottom: ;
    background-image: url("assets/backroundbricks.jpg");
    background-size: cover;
    background-position: center;
}

.leftside{
    
    width: 432px;
    height:711px;
    background-color: #104c59;
    border-radius: 51px;
    float:left;
    
    
}
.myimage
{
    margin:0%;
    border-radius: 200mm;
    height:331px;

}
.contact
{
    height:61px;
    width:67px;

}
.Rightside
{
    width: 500px;
    height:500px;
    background-color: lightblue;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    float: right;
    flex-direction: column;
    float:right;
}
#aboutme
{ width: 150px;
    height:100px;
    background-color: greenyellow;
    border-radius: 51px;

}
#work
{
    width: 150px;
    height:100px;
    background-color: greenyellow;
    border-radius: 51px;
}
