*{
    margin: 0;
    padding:0;
    font-family: 'Times New Roman', Times, serif;
}
body
{ background-image: url("backroundbricks.jpg");
    background-size: cover;
     padding: 72px;}
  

.title 
{ padding-top: 150px ;
padding-bottom: 150px ;
font-family: Promt;
text-align: center;
letter-spacing: 6px;
font-size: 150px;
color:#d7dfe2;
text-shadow: 2px 3px 2px #9aa0a2;}

#DigitalJourney
 {text-shadow: 2px 4px 2px #104c59;}

.nav
{display:flex;
   justify-content:center;
   align-items:center;
   flex-direction: row;
   flex-wrap:nowrap;
   justify-content: space-evenly;}
    


#link
{color:#104c59;
    text-shadow: 1px 1px 10px;
    text-decoration: none;
    display:flex;
    flex-wrap: wrap;
    width:86px;}

#link:hover{color:#9aa0a2;}



main{}

.leftside{
    
    width: 432px;
    height:711px;
    background-color: #104c59;
    border-radius: 51px;
    float:left;
    
    
}

.myimage
{
    margin:0%;
    border-radius: 200mm;
    height:331px;

}


#contactme {}

.contact
{
    height:61px;
    width:67px;

}

#resume{}

.Rightside
{
    width: 500px;
    height:500px;
    background-color: lightblue;
    display:flex;
    justify-content: space-around;
    align-items: flex-end;
    float: right;
    flex-direction: column;
    float:right;
    
}


#aboutme  
{ width: 465px;
    height:100px;
    background-color: greenyellow;
    border-radius: 51px;
}

h3 , h4
{font-size:101px ;}

p
{font-size:33px ;}



#work
{
    width: 150px;
    height:100px;
    background-color: greenyellow;
    border-radius: 51px;
}
